<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-logger" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>Logger</name><js-module name="Logger" src="www/Logger.js"><clobbers target="cordova.plugins.Logger" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="Logger"><param name="android-package" value="cordova.plugin.logger.Logger" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/Logger.java" target-dir="src/cordova-plugin-logger/Logger" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="Logger"><param name="ios-package" value="Logger" /></feature></config-file><source-file src="src/ios/Logger.m" /></platform></plugin>